.skills-main {
    padding-top: 100px;
}
.skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    flex: 3;
}
.card-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    margin: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, rgb(226, 232, 236), rgb(255, 255, 255));
    box-shadow: rgb(209, 217, 230) 5px 5px 15px, rgb(255, 255, 255) -5px -5px 15px;
    border-radius: 20px;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #838586;
    border-radius: 20px;
}

.card-skills:hover .overlay {
    opacity: 1;
  }

.card-skills:hover {
    transition: all 0.3s ease 0s;
    background: rgb(176, 176, 176);
    transform: translateY(-3px);
}

.img-skills {
    gap: 30px;
    display:flex;
}
.icon {
    height: 80px;
    
}