.skills-main {
    padding-top: 100px;
}
.skills-content {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.card-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    margin: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, rgb(226, 232, 236), rgb(255, 255, 255));
    box-shadow: rgb(209, 217, 230) 5px 5px 15px, rgb(255, 255, 255) -5px -5px 15px;
    border-radius: 20px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #888989;
    border-radius: 20px;
}

.card-skills:hover .overlay {
    opacity: 1;
  }

.text {
    color: var(--white);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-skills:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}

.img-skills {
    gap: 30px;
    display:flex;
}
.icon {
    height: 80px;
    
}

@media (max-width: 1420px) {
    .skills-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 970px) {
    .icon {
        height: 60px;
    }
    h3 {
        font-size: 12px;
    }

    .text {
        font-size:12px;
    }
    .card-skills:active .overlay {
        opacity: 1;
      }
    
    .card-skills:active {
        transition: all 0.3s ease 0s;
        transform: translateY(-3px);
    }
}

@media (max-width: 530px) {
    .icon {
        height: 40px;
    }
}

