.about-me-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

h2 {
    color: #292929;
    font-family: Kaushan Script,helvetica;
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
    margin: 28px 0;
    text-align: center;
}

.about-content {
    padding: 20px;
    font-size: large;
    align-content: center;
}

.content-link {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.a-link {
    background-color: #1b1b1b;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  gap: 10px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.a-link:hover {
    background-color: #4e4d4d;
    transform: translateY(-3px);
}